body {
  margin: 0;
  font-family: sans-serif;
}

.card {
  margin-top: -6rem;
}

.jumbotron {
  background-image: url(./road2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 20rem !important;
  /* position: relative; */
}

#google {
  max-height: 100%;
  max-width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
