body {
  margin: 0;
  font-family: sans-serif;
}

.card {
  margin-top: -10rem;
}

.jumbotron {
  background-image: url(./road2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 20rem !important;
  /* position: relative; */
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}
